.message{
    padding: 10px;
    margin: 10px;
    width: fit-content;
}

.message-user{
    margin-left: auto;
    color:white;
    text-align: left !important;
}

.message-user-card{
    background-color:#457ff5!important;
}

.message-guest-card{
    background-color: #e4e9ef !important;
}